#ESTADÍSTICA DESCRIPTIVA
- BASES DE DATOS Y DICCIONARIOS
- 5 NUMBER SUMMARY
- DIAGRAMAS DE CAJA O HISTOGRAMAS

### DICCIONARIOS
$$\{\text{key}:\text{value}\}$$

In [ ]:
alumnos = {"Rodolfo": [20, 1.88, 2, "Tauro", "Naranja"],
           "Andrea": [18, 1.70, 1, "Escorpion", "Azul"],
           "Rocío": [20, 1.63, 2, "Acuario", "Rosa"],
           "Ariadna": [20, 1.70, 0, "Leo", "Blanco"],
           "Mariana": [20, 1.60, 0, "Leo", "Negro"]}

In [ ]:
type (alumnos)

dict

In [ ]:
alumnos["Andrea"]

[18, 1.7, 1, 'Escorpion', 'Azul']

In [ ]:
import pandas as pd
index =["Edad", "Altura", "Num hermanos", "Signo", "Color"]
dfalumnos = pd.DataFrame(alumnos, index=index)
dfalumnos

In [ ]:
dfalumnos["Andrea"]

Edad                   18
Altura                1.7
Num hermanos            1
Signo           Escorpion
Color                Azul
Name: Andrea, dtype: object

In [ ]:
dfalumnos.iloc[0]

Rodolfo    20
Andrea     18
Rocío      20
Ariadna    20
Mariana    20
Name: Edad, dtype: object

In [ ]:
dfalumnos.iloc[0].min()

18

In [ ]:
dfalumnos.iloc[0].max()

20

In [ ]:
dfalumnos.iloc[0].mean()

19.6

In [ ]:
dfalumnos.iloc[1].mean()

1.686

In [ ]:
dfalumnos.describe()

        Rodolfo  Andrea  Rocío  Ariadna  Mariana
count         5       5      5        5        5
unique        5       5      5        5        5
top          20      18     20       20       20
freq          1       1      1        1        1

In [ ]:
alumnosdatos = dfalumnos.iloc[0:3]
alumnosdatos

             Rodolfo Andrea Rocío Ariadna Mariana
Edad              20     18    20      20      20
Altura           1.8    1.7  1.63     1.7     1.6
Num hermanos       2      1     2       0       0

In [ ]:
alumnosdatos.describe()

        Rodolfo  Andrea  Rocío  Ariadna  Mariana
count       3.0     3.0    3.0      3.0      3.0
unique      3.0     3.0    3.0      3.0      3.0
top        20.0    18.0   20.0     20.0     20.0
freq        1.0     1.0    1.0      1.0      1.0

In [ ]:
dfalumnos.T.describe()

        Edad  Altura  Num hermanos Signo    Color
count      5     5.0             5     5        5
unique     2     4.0             3     4        5
top       20     1.7             2   Leo  Naranja
freq       4     2.0             2     2        1

In [ ]:
dfalumnos.T["Edad"]

Rodolfo    20
Andrea     18
Rocío      20
Ariadna    20
Mariana    20
Name: Edad, dtype: object

In [ ]:
#adelanto tarea
from itertools import product
omega=set(product([1,2,3,4,5,6], repeat=2))
len(omega)

36