In [ ]:
from itertools import product
Omega=set(product([1,2,3,4,5,6], repeat=2))
Omega

In [ ]:
E={omega for omega in Omega if omega[0] + omega[1]==2 }
E

{(1, 1)}

#PROBABILIDAD DE QUE LA SUMA DE LOS DADOS SEA 2

In [ ]:
Suma_2= len(E)/len(Omega)
Suma_2

0.027777777777777776

In [ ]:
F={omega for omega in Omega if omega[0] + omega[1]==7 }
F

{(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)}

#PROBABILIDAD DE QUE LA SUMA DE LOS DADOS SEA 7

In [ ]:
Suma_7= len(F)/len(Omega)
Suma_7

0.16666666666666666

In [ ]:
G={omega for omega in Omega if omega[0] - omega[1]==1 }
G

{(2, 1), (3, 2), (4, 3), (5, 4), (6, 5)}

#PROBABILIDAD DE QUE LA RESTA DE LOS DADOS SEA 1

In [ ]:
Resta_1= len(G)/len(Omega)
Resta_1

0.1388888888888889

In [ ]:
probabilidades={"Suma 7":[Suma_7],
                "Suma 2":[Suma_2],
                "Resta 1": [Resta_1]}

#DATAFRAME DE PROBABILIDADES

In [ ]:
import pandas as pd
index = ["Probabilidad"]
dfprobabilidades= pd.DataFrame(probabilidades, index=index)
dfprobabilidades

                Suma 7    Suma 2   Resta 1
Probabilidad  0.166667  0.027778  0.138889

Experimento aleatorio: Se lanzan dos dados honestos.
1.- Describir al espacio muestral.

In [ ]:
from itertools import product
Omega=set(product([1,2,3,4,5,6], repeat=2))
Omega

2.- Considere el evento S(n): la suma de las caras de los dados es n.

In [ ]:
def S(n):
  Sn= [(a,b) for a in range(1,7) for b in range (1,7) if a + b == n]
  return Sn

3.- Calcular S(2) hasta S(12) y poner los datos en un DataFrame en Pandas.

In [ ]:
s2= S(2)
s2

[(1, 1)]

In [ ]:
s3=S(3)
s3

[(1, 2), (2, 1)]

In [ ]:
s4=S(4)
s4

[(1, 3), (2, 2), (3, 1)]

In [ ]:
s5=S(5)
s5

[(1, 4), (2, 3), (3, 2), (4, 1)]

In [ ]:
s6=S(6)
s6

[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]

In [ ]:
s7=S(7)
s7

[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]

In [ ]:
s8=S(8)
s8

[(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]

In [ ]:
s9=S(9)
s9

[(3, 6), (4, 5), (5, 4), (6, 3)]

In [ ]:
s10=S(10)
s10

[(4, 6), (5, 5), (6, 4)]

In [ ]:
s11=S(11)
s11

[(5, 6), (6, 5)]

In [ ]:
s12=S(12)
s12

[(6, 6)]

In [ ]:
Tabla={"Suma 2": [s2],
       "Suma 3": [s3],
       "Suma 4": [s4],
       "Suma 5": [s5],
       "Suma 6": [s6],
       "Suma 7": [s7],
       "Suma 8": [s8],
       "Suma 9": [s9],
       "Suma 10": [s10],
       "Suma 11": [s11],
       "Suma 12": [s12]}
Tabla

{'Suma 2': [[(1, 1)]],
 'Suma 3': [[(1, 2), (2, 1)]],
 'Suma 4': [[(1, 3), (2, 2), (3, 1)]],
 'Suma 5': [[(1, 4), (2, 3), (3, 2), (4, 1)]],
 'Suma 6': [[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]],
 'Suma 7': [[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]],
 'Suma 8': [[(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]],
 'Suma 9': [[(3, 6), (4, 5), (5, 4), (6, 3)]],
 'Suma 10': [[(4, 6), (5, 5), (6, 4)]],
 'Suma 11': [[(5, 6), (6, 5)]],
 'Suma 12': [[(6, 6)]]}

In [ ]:
import pandas as pd
index ="Valores"
dfdados=pd.DataFrame(Tabla,index=[index])
dfdados

,Suma 2,Suma 3,Suma 4,Suma 5,Suma 6,Suma 7,Suma 8,Suma 9,Suma 10,Suma 11,Suma 12
Valores,"[(1, 1)]","[(1, 2), (2, 1)]","[(1, 3), (2, 2), (3, 1)]","[(1, 4), (2, 3), (3, 2), (4, 1)]","[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]","[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]","[(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]","[(3, 6), (4, 5), (5, 4), (6, 3)]","[(4, 6), (5, 5), (6, 4)]","[(5, 6), (6, 5)]","[(6, 6)]"