1. Lanzas una moneda justa (es decir, la probabilidad de obtener cara es $0.5$ ) tres veces. Suponga que todas las secuencias de resultados de lanzamiento de moneda, de longitud 3, son igualmente probables. Determine la probabilidad de cada uno de los siguientes eventos:\n",
    "\n",
    "    a. $\\{HHH\\}$ $3$ caras.\n",

In [ ]:
from itertools import product
OMEGA= set(product(["H","T"], repeat = 3))
_3H = {omega for omega in OMEGA if omega.count("H")==3}
_3H

{('H', 'H', 'H')}

In [ ]:
P1= len (_3H) / len (OMEGA)
P1

0.125

b. $\\{HTH\\}$ cara, águila, cara.\n",
    "    \n",

In [ ]:
T={omega for omega in OMEGA if omega [0]=="H"}
T

{('H', 'H', 'H'), ('H', 'H', 'T'), ('H', 'T', 'H'), ('H', 'T', 'T')}

In [ ]:
U={omega for omega in OMEGA if omega [1]=="T"}
U

{('H', 'T', 'H'), ('H', 'T', 'T'), ('T', 'T', 'H'), ('T', 'T', 'T')}

In [ ]:
V={omega for omega in OMEGA if omega [2]=="H"}
V

{('H', 'H', 'H'), ('H', 'T', 'H'), ('T', 'H', 'H'), ('T', 'T', 'H')}

In [ ]:
A = T.intersection(U.intersection(V))
A

{('H', 'T', 'H')}

In [ ]:
P2= len (A) / len (OMEGA)
P2

0.125

 c. Cualquier sucesión con dos caras y un águila (en cualquier orden).\n",
    "    \n",

In [ ]:
H = {omega for omega in OMEGA if omega.count("H")==2 and omega.count("T")==1}
H

{('H', 'H', 'T'), ('H', 'T', 'H'), ('T', 'H', 'H')}

In [ ]:
P3= len(H)/len (OMEGA)
P3

0.375

d. Cualquier sucesión en donde el número de caras sea mayor o igual al número de      águilas."

In [ ]:
I = {omega for omega in OMEGA if (omega.count("H") >= omega.count("T"))}
I

{('H', 'H', 'H'), ('H', 'H', 'T'), ('H', 'T', 'H'), ('T', 'H', 'H')}

In [ ]:
P4= len(I)/len (OMEGA)
P4

0.5

2. En el ejercicio anterior, calcula las probabilidades dado que sabes que cayó una cara en el primer lanzamiento

In [ ]:
P5A= len (_3H.intersection(T)) / len (T)
P5A

0.25

In [ ]:
P6B= len (A.intersection(T)) / len (T)
P6B

0.25

In [ ]:
P7C= len (H.intersection(T)) / len (T)
P7C

0.5

In [ ]:
P8D= len (I.intersection(T)) / len (T)
P8D

0.75

3. Alicia y Samuel eligen al azar un número real entre cero y uno. Suponemos que el par de números se elige sobre el cuadrado unitario, de modo que la probabilidad de un evento es igual a su área. Definimos los siguientes eventos:\n",

In [ ]:
import numpy as np
A=np.random.random()
A
S=np.random.random()
S
abs(A-S)

0.6645084798640861

 A: la magnitud de la diferencia de los dos números es mayor que $1/3$.\n",

In [ ]:
abs(A-S)>1/3

True

In [ ]:
pip install python-intervals==1.4.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-intervals==1.4.0
  Downloading python_intervals-1.4.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: python-intervals
Successfully installed python-intervals-1.4.0

In [ ]:
import intervals as I
I.open(0)

In [ ]:
#bernardo
k = 0
loops=100000
for x in range(loops):
  A=np.random.random()
  S=np.random.random()
  if abs(A-S) >1/3:
    k=+1

k/loops

1e-05

B: Al menos uno de los números es mayor que $1/4$.\n"

In [ ]:
P= {aleatorios2 for aleatorios2 in aleatorios if (aleatorios2[0] > 1/4 or aleatorios2[1] > 1/4)}
P

 C: LA suma de los dos números es $1$.\n",

In [ ]:
Q = {aleatorios3 for aleatorios3 in aleatorios if (aleatorios3[0] + aleatorios3[1] ==1)}
Q
P11= len (Q)/ len (aleatorios)
P11

0.0

D: El número de Alicia es mayor que $1/4$\n",

In [ ]:
R = {aleatorios4 for aleatorios4 in aleatorios if (aleatorios4[0] > 1/4)}
R

4. Simula una sucesión de $5$ volados simultáneos (1 muestreo) con monedas honestas que consista de 100 observaciones. Registra tus datos en un DataFrame de Pandas

In [ ]:
#vamos a crear una matriz cuyos elementos registren el resultado de volados, aguila es 0 y sol es 1
#creamos un dataframe para meter todo
#aventamos 5 monedas, repetimos 100 veces, son 500

import pandas as pd

df500 = pd.DataFrame()
#lanzamiento de 1 moneda, el 0.5 es la probabilidad, 5 es el tamaño de la muestra o sea 5 monedas, aviento una moneda 5 veces
for i in range (1,101):
  volados_muestra = np.random.binomial(1,0.5,5) 
  columna = f"muestra {i}"
  df500[columna]=volados_muestra

df500

,muestra 1,muestra 2,muestra 3,muestra 4,muestra 5,muestra 6,muestra 7,muestra 8,muestra 9,muestra 10,...,muestra 91,muestra 92,muestra 93,muestra 94,muestra 95,muestra 96,muestra 97,muestra 98,muestra 99,muestra 100
0,0,0,1,0,0,0,1,1,1,0,...,1,1,0,1,1,0,1,1,0,1
1,1,1,1,0,0,0,0,1,1,0,...,1,1,1,0,0,0,0,1,1,0
2,0,1,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,1,0,1,1
3,0,1,0,1,1,0,1,1,1,1,...,1,1,1,0,1,0,1,1,1,1
4,0,0,0,0,0,0,1,1,1,1,...,1,0,0,1,1,0,0,0,1,1

In [ ]:
OMEGA1M=np.array(OMEGA1)
OMEGA1M
np.matmul(OMEGA1M, 100)